{% load static %}
<link rel="shortcut icon" hreflang="e" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" hreflang="e" href="{% static 'css/main.css' %}">
<link rel="stylesheet" hreflang="e" href="{% static 'css/style.css' %}">
<link rel="stylesheet" hreflang="e" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" hreflang="e" href="{% static 'css/buf.css' %}">
