{% extends 'website/base.html' %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block content %}
<main>

    <section class="slider-area ">
        <div class="slider-active">

            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-10 col-sm-11">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay="0.2s">Quality<br> Learning</h1>
                                <span data-animation="fadeInLeft" data-delay="0.4s">For Every Child</span>
                                <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore
                                    Classes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="about-low-area section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-11">
                    <div class="section-tittle text-center mb-70">
                        <h2>Welcome to our <span>Kindergarten</span></h2>
                        <p>Our set he for firmament morning sixth subdue today the darkness creeping gathered divide our
                            let god moving today. Moving in fourth air night bring upon lesser subdue fowl male signs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="about-caption">
                        <div class="single-features mb-30">
                            <div class="features-icon">
                                <img src="{% static 'img/icon/about-icon1.svg' %}" alt="images"
                                    data-pagespeed-url-hash="2314296538"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <div class="features-caption">
                                <h3 class="color-font1">Inter School Sports</h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                        </div>
                        <div class="single-features mb-30">
                            <div class="features-icon">
                                <img src="{% static 'img/icon/about-icon2.svg' %}" alt="images"
                                    data-pagespeed-url-hash="2608796459"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <div class="features-caption">
                                <h3 class="color-font2">Friendly Environment</h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                        </div>
                        <div class="single-features mb-30">
                            <div class="features-icon">
                                <img src="{% static 'img/icon/about-icon3.svg' %}" alt="images"
                                    data-pagespeed-url-hash="2903296380"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </div>
                            <div class="features-caption">
                                <h3 class="color-font3">Multimedia Class</h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">

                    <div class="about-img ">
                        <img src="{% static 'img/gallery/xabout2.png.pagespeed.ic.ipGkV6Rd8O.webp' %}" alt="images"
                            class="w-100" data-pagespeed-url-hash="1738453459"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="class-offer-area section-bg2 section-padding40 "
        data-background="{% static 'img/gallery/section_bg1.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-11">

                    <div class="section-tittle text-center mb-80">
                        <h2>Classes We Offer</h2>
                        <p>Our set he for firmament morning sixth subdue today the darkness creeping gathered divide our
                            let god moving today. Moving in fourth air night bring upon lesser subdue.</p>
                    </div>
                </div>
            </div>
            <div class="class-offer-active">
                <div class="col-lg-4 col-md-6 col-sm-6">

                    <div class="properties pb-30">
                        <div class="properties__card">
                            <div class="properties__img">
                                <a href="#"><img
                                        src="{% static 'img/gallery/xclass-img1.png.pagespeed.ic.DlRtjuyzVo.webp' %}"
                                        alt="alt" data-pagespeed-url-hash="1223764093"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <div class="img-text">
                                    <span class="open">Admission Closed</span>
                                </div>
                            </div>
                            <div class="properties__caption">
                                <h3><a href="#">Intelligent Challenge</a></h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                            <div class="properties__footer d-flex justify-content-between align-items-center">
                                <div class="class-day">
                                    <span class="color-font4">3-5</span>
                                    <p>Age Group</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font2">30</span>
                                    <p>Classes</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font1">10/h</span>
                                    <p>Class Price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">

                    <div class="properties pb-30">
                        <div class="properties__card">
                            <div class="properties__img">
                                <a href="#"><img
                                        src="{% static 'img/gallery/xclass-img2.png.pagespeed.ic.rC4vnKDqeg.webp' %}"
                                        alt="images" data-pagespeed-url-hash="1518264014"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                            </div>
                            <div class="properties__caption">
                                <h3><a href="#">Intelligent Challenge</a></h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                            <div class="properties__footer d-flex justify-content-between align-items-center">
                                <div class="class-day">
                                    <span class="color-font4">3-5</span>
                                    <p>Age Group</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font2">30</span>
                                    <p>Classes</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font1">10/h</span>
                                    <p>Class Price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">

                    <div class="properties pb-30">
                        <div class="properties__card">
                            <div class="properties__img">
                                <a href="#"><img
                                        src="{% static 'img/gallery/xclass-img3.png.pagespeed.ic.kAbFtIz6i7.webp' %}"
                                        alt="images" data-pagespeed-url-hash="1812763935"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <div class="img-text">
                                    <span class="open">Admission Closed</span>
                                </div>
                            </div>
                            <div class="properties__caption">
                                <h3><a href="#">Intelligent Challenge</a></h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                            <div class="properties__footer d-flex justify-content-between align-items-center">
                                <div class="class-day">
                                    <span class="color-font4">3-5</span>
                                    <p>Age Group</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font2">30</span>
                                    <p>Classes</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font1">10/h</span>
                                    <p>Class Price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">

                    <div class="properties pb-30">
                        <div class="properties__card">
                            <div class="properties__img">
                                <a href="#"><img
                                        src="{% static 'img/gallery/xclass-img2.png.pagespeed.ic.rC4vnKDqeg.webp' %}"
                                        alt="images" data-pagespeed-url-hash="1518264014"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <div class="img-text">
                                    <span class="open">Admission Closed</span>
                                </div>
                            </div>
                            <div class="properties__caption">
                                <h3><a href="#">Intelligent Challenge</a></h3>
                                <p>The words you use in your written communica speak volumes.</p>
                            </div>
                            <div class="properties__footer d-flex justify-content-between align-items-center">
                                <div class="class-day">
                                    <span class="color-font4">3-5</span>
                                    <p>Age Group</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font2">30</span>
                                    <p>Classes</p>
                                </div>
                                <div class="class-day">
                                    <span class="color-font1">10/h</span>
                                    <p>Class Price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="browse-all text-center mt-30">
                        <a href="#" class="border-btn">More Classes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="date-events section-bg2 section-padding40" data-background="{% static 'img/gallery/section_bg2.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="date-wrapper">
                        <div class="section-tittle text-center mb-30">
                            <span class="span">18 Jan 2021</span>
                            <h2>Drawing Event</h2>
                            <p>Our set he for firmament morning sixth subdue today the darkness creeping gathered divide
                                our let god moving today moving in fourth.</p>
                            <a href="#" class="btn mt-10">View Event</a>
                        </div>

                        <div class="cd-timer" id="countdown">
                            <div class="cd-item">
                                <span>40</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>46</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>32</span>
                                <p>Seconds</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team-area section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-8 col-lg-8 col-md-10">

                    <div class="section-tittle text-center mb-60">
                        <h2>Expert Teachers</h2>
                        <p>Our set he for firmament morning sixth subdue today the darkness creeping gathered divide our
                            let god moving today. Moving in fourth air night bring upon lesser subdue.</p>
                    </div>
                </div>
            </div>
            <div class="c-row">
                <div class="team-active">
                    {% for ticher in ticher %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{{ ticher.image.url }}" alt="" data-pagespeed-url-hash="1612355688">
                                <div class="team-caption">

                                    <div class="team-social">
                                        <ul>
                                            <li><a href="{{ ticher.telegram_url }}" target="_blank"><i class="fab fa-telegram"></i></a></li>
                                            <li><a href="{{ ticher.imstagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="{{ ticher.likedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="{{ ticher.facebook_url }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3><a href="#">{{ ticher.name }}</a></h3>
                                <p>{{ ticher.work_type }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="testimonial-area testimonial-padding section-bg2"
        data-background="{% static 'img/gallery/section_bg3.png">
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-11 col-lg-11 col-md-9">
                    <div class="h1-testimonial-active">

                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="{% static 'img/gallery/xtestimonial.png.pagespeed.ic.U5crWWNOc7.webp' %}"
                                        alt="images" data-pagespeed-url-hash="939949847"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    <p>"Supercharge your WordPress hosting with detailed website analytics, marketing
                                        tools. Our experts are just part of the reason Bluehost is the ideal home for
                                        your WordPress website. We're here to help you succeed!</p>
                                </div>

                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="{% static 'img/gallery/founder-img.svg' %}" alt="images"
                                            data-pagespeed-url-hash="266291308"
                                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="founder-text">
                                        <span>Jacson Miller</span>
                                        <p>Designer @Colorlib</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="{% static 'img/gallery/xtestimonial.png.pagespeed.ic.U5crWWNOc7.webp' %}"
                                        alt="images" data-pagespeed-url-hash="939949847"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    <p>"Supercharge your WordPress hosting with detailed website analytics, marketing
                                        tools. Our experts are just part of the reason Bluehost is the ideal home for
                                        your WordPress website. We're here to help you succeed!</p>
                                </div>

                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="{% static 'img/gallery/founder-img.svg' %}" alt="images"
                                            data-pagespeed-url-hash="266291308"
                                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="founder-text">
                                        <span>Jacson Miller</span>
                                        <p>Designer @Colorlib</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="instagram-area fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="instagram-active owl-carousel">
                        {% for gallarey in gallarey %}
                        <div class="single-instagram" >
                            <img src="{{ gallarey.image.url }}"  alt="images"
                                data-pagespeed-url-hash="1009255367">
                            <a href="{{ gallarey.url }}"><i class="ti-instagram"></i></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}