{% load static %}

<script src="{% static 'js/modernizr-3.5.0.min.js' %}"></script>

<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

<script src="{% static 'js/popper_min.js' %}"></script>

<script src="{% static 'js/owl_carousel_min.js' %}"></script>

<script src="{% static 'js/wow_min.js' %}"></script>

<script src="{% static 'js/gijgo_min.js' %}"></script>

<script src="{% static 'js/jquery_nice_select_min.js' %}"></script>

<script>
    eval(mod_pagespeed_Z7DMTieVyB);
    eval(mod_pagespeed__Z$JXv0HVP);
    eval(mod_pagespeed_nOFW1B0EyG);
    eval(mod_pagespeed_genO7Vo23O);
    eval(mod_pagespeed_OeQ4lnaGcF);
    eval(mod_pagespeed_5e1Nqqi059);
    eval(mod_pagespeed_MJRsdSgld4);
    eval(mod_pagespeed_hKcZ_C8lUN);
    eval(mod_pagespeed_eHlkeqIMuR);
    eval(mod_pagespeed_t_XXikfOYj);
    eval(mod_pagespeed_JkCcbDAI33);
    eval(mod_pagespeed_l7r7vYoeuQ);
    eval(mod_pagespeed_72e81481T_);
    eval(mod_pagespeed_$D6ZXM_Mzx);
    eval(mod_pagespeed_GDuFlPziwn);
    eval(mod_pagespeed_LUClZXv1ZM);
    eval(mod_pagespeed_zaBzT_lTD2);
</script>

<script src="{% static 'js/main.js' %}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>